/* versioning file: /uploads/00001941/careington-AIGbranded_v1.2.css */

@-ms-viewport{width: auto !important;}/*remove IE10/11 scrollbars over page*/
*{font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif !important;}
.container {
    width: 100%;
    padding:0;
}
.container > div.span10{
	width:auto;
	float:none;
	margin:0 auto !important;
}
.container > div.span10 > div{
	max-width:1200px;
	margin:0 auto !important;
}
.container > div.span10 > div.headerarea{
	max-width:100% !important;
	margin:0 auto !important;
}
.container > div.span10 > div.headerarea > #NonWhirlpool{
	background:#01a6e4;

}
.container > div.span10 > div.headerarea > #NonWhirlpool > .logo{
	max-width:1200px;
padding:45px 0;
	margin:0 auto !important;
	float:none;
	background:#01a6e4 url(https://www.aiginsurance.com/uploads/00001941/aiglogo.png) no-repeat center center;
	width:100%;
}
@media screen and (max-width: 767px) {
	.container > div.span10 > div.headerarea > #NonWhirlpool > .logo{
		background-size: 55px;
		padding:0;
		height:46px
	}
}

.container > div.span10 > div.headerarea > .bannerarea{
	max-width:1166px;
	margin:60px 18px 0 18px !important;
	padding: 24px;
	background: #76777b;
	color:#fff;
	line-height:normal;
}
@media screen and (min-width: 1201px) {
	.container > div.span10 > div.headerarea > .bannerarea{
		margin:60px auto 0 auto !important;
	}
}
.paymentalert {padding: 18px;}
.container > div.span10 > div.headerarea > div:nth-child(4){
	max-width:1200px;
	margin:0 auto !important;
	padding:0 18px !important;
}

.headerarea > div:nth-child(1){
	margin-bottom:20px;
	height:auto !important;
}
.headerarea > div:nth-child(1) > div:nth-child(2){display:none;}
#lblProduct{color:#5e514e;}
.bannerarea{background:#fff;color:#333333;padding: 20px;height:auto;}
.headerarea > div:nth-child(4){height:auto !important;}
/** Payment boxes ****************************************************/
.paymentinfobox:nth-child(1) {padding-right:8px;padding-left:18px !important;}
.paymentinfobox:nth-child(2) {padding-left:8px;padding-right:18px !important;}
.paymentinfobox:nth-child(2) > table > tbody > tr:nth-child(1) > td:nth-child(2){display:none !important;}


.pull-left.paymentinfobox:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td:nth-child(1){width:auto !important;padding:4px 0 4px 12px;}
.pull-left.paymentinfobox:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td:nth-child(2){width:auto !important;}

.paymentinfobox{background:#fff;width:50% !important;padding:0;margin:0 !important;}
.paymentinfobox > table{background:#cecaca;width:100% !important;}
.paymentinfobox > table td{padding:0;vertical-align:top;}
.paymentinfobox > table td > span:nth-child(1):not(:empty){display:inline-block;padding:4px 0 4px 12px;}
.pull-left.paymentinfobox > table > tbody > tr > td > table > tbody > tr > td:nth-child(1){font-weight:bold;}
.paymentinfobox > table td > h2{padding:12px 12px 24px 12px;margin:0;font-size:1.6em;margin-bottom:0;color:#333333;}

@media screen and (min-width: 768px) {
.pull-left.paymentinfobox:nth-child(1) > table > tbody > tr > td:nth-child(1){width:50% !important;}
.pull-left.paymentinfobox:nth-child(1) > table > tbody > tr > td:nth-child(2){width:50% !important;}
	.pull-left.paymentinfobox:nth-child(1) > table > tbody > tr > td:nth-child(2){padding-top:58px;}
	.paymentinfobox > table{height:177px;}
	.paymentinfobox:nth-child(2) > table > tbody > tr > td:nth-child(1){height:1px;}
	.paymentinfobox:nth-child(2) > table > tbody > tr:last-child > td:nth-child(1) {height:auto;}
}
	.paymentinfobox:nth-child(1) > table > tbody > tr > td > table > tbody > tr:last-child > td {padding-bottom:12px;}
	.paymentinfobox:nth-child(2) > table > tbody > tr:last-child > td {padding-bottom:12px;}
	

/******************************************************/

#UpdatePanel1{margin-top:50px;}
#UpdatePanel1 > .content:nth-child(1) > .col-sm-4{width:100% !important;padding:0;}
#UpdatePanel1 > .content:nth-child(1) > div:nth-child(1){display:none;}
#rdoPymntOption{margin-bottom:20px;}
#rdoPymntOption > tbody >tr > td{white-space:nowrap;}
div.container > div.span10 > div:nth-child(6){
    float: none;
    margin: 0 auto;
    max-width: 1166px;
    position: relative !important;
    width: 100%;
}

.salestaxerroimg {
    margin-left: 4px;
    vertical-align: middle;
}
#amex-express-checkout{position:absolute;top:50px;left:375px;}

.paymentfield{width:100%;padding:6px 12px;height:auto;font-size:1.2em;}
select{
	width:100%;
	-webkit-appearance:none;
	cursor:pointer;
    border-radius: 0;
    outline: medium none;
	width:100%;
	padding:14px 12px !important;
	-moz-padding:10px 12px !important;
	height:auto;
	color:#999 !important;
	line-height: normal !important;
	font-size: 16px !important;
	border:1px solid #ccc;
-webkit-line-height: 23px !important;/* iOS fix for padding and line-height not working */
}
select:disabled{cursor:default;}
select > option{height:auto;}/* font-size:1.2em;padding:6px 12px; */
#pnlCreditCard select{width:45%;}/* fix expiry width*/
@media screen and (min-width: 455px) and (max-width: 767px) {
	#pnlCreditCard select{width:47%;}/* fix expiry width*/
}
@media screen and (min-width: 768px) {
	#pnlCreditCard select{width:46%;}/* fix expiry width*/
}
input[type=text]{
	width:100%;
	-webkit-appearance:none;
	cursor:text;
    border-radius: 0;
    outline: medium none;

	padding:14px 12px !important;
	height:auto;
	color:#999 !important;
	line-height: normal !important;
	font-size: 16px !important;
	border:1px solid #ccc;
-webkit-line-height: 23px !important;/* iOS fix for padding and line-height not working */
}
input[type=radio] {
	transform: scale(1.3);/* All browsers except webkit*/
	-webkit-transform: scale(1.3);/* Webkit browsers*/
	width:auto;/*undo generic input/select 100% */
	margin: 0 5px 4px 0;
	vertical-align: middle;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	input[type=radio] {
		width:25px !important;
	}
}


#pnlCreditCard > div{position:relative !important;margin:0 !important;}
/*#UpdatePanel1 > .content:nth-child(1) > div:nth-child(10){display:none;}*/
#UpdatePanel1 > .content:nth-child(1) div[style*="height: 68px"]{display:none;}
#UpdatePanel1 > .content:nth-child(1)  > h2{color:#1f77b0;font-size:1.4em;margin:18px 0 18px 0 !important;clear: both;}
@media screen and (min-width: 768px) {
	#UpdatePanel1 > .content{max-width: 375px;}
}
#rdoPymntOption{width:100% !important;}
#rdoPymntOption td{width:50%;}
#UpdatePanel1 > div:nth-child(7){float:none;}
#rdbActType > tbody >tr > td{width:50%;}



#btnCancel{background:transparent url(https://www.aiginsurance.com/uploads/00001941/CareingtonButton-Cancel.png) no-repeat center center;width: 126px;height:51px;margin-right:24px;cursor:pointer;color:#01a6e4;border:1px solid #00a4e4;}
#btnCancel:hover{background:#00a4e4 url(https://www.aiginsurance.com/uploads/00001941/CareingtonButton-Cancel_hover.png) no-repeat center center;color:transparent;}
#btnSubmit{background:#e36f1e url(https://www.aiginsurance.com/uploads/00001941/CareingtonButton-Continue.png) no-repeat center center;width:168px; height:51px;margin-left:0;cursor:pointer;border:2px solid #e36f1e;color:transparent;}
#btnSubmit:hover{background-color:#d64f11;border:2px solid #d64f11;}
#btnSubmit:disabled, #btnCancel:disabled{cursor:default;opacity:.7;}

@media screen and (max-width: 767px) {
	#UpdatePanel1 > .content > div:nth-child(9){
		padding-bottom:140px !important;
		position: relative;
		float:none !important;
	}
	#btnSubmit{
		width:100%;
		margin: 0 !important;
		position:absolute;
		bottom:100px;
	}
	#btnCancel{
		width:100%;
		margin:0 !important;
		position:absolute;
		bottom:20px;
	}
}


#footer::before {
	content: "\A9 2017 American International Group, Inc. All rights reserved.";
	padding: 24px;
	width:100%;
	display:block;
	color:#a7a7a7;
	max-width:1200px;
	margin:0 auto;
}
#footer{background: #282828;border-top:0;padding-top:0 !important;max-width:100% !important;margin:0 !important;}

.security_sealimg {
    float: none;
	background-position:100% 0;
	margin-top:20px;
	width:auto;
}
/** *************************************************** **/

@media screen and (min-width: 768px) and (max-width: 1200px) {
	.security_sealimg {background-position:98% 0;}
}
@media screen and (min-width: 768px) {
	#pnlCreditCard > div.cc_artimg {
		left: 380px !important;
		margin-left:0;
		margin-top: -24px !important;
	}
}
@media screen and (max-width: 767px) {
	.pull-left.paymentinfobox > table > tbody > tr > td{display:block;width:100% !important;}


	.container > div.span10 > div.headerarea{margin-bottom:0 !important;}
	.headerarea > div:nth-child(1){background-position:center 20px;margin-bottom:0;}
	.paymentinfobox{width:100% !important;padding:18px !important;}
	.headerarea > div:nth-child(1){height:auto !important;}
	.headerarea > div:nth-child(1) > div:nth-child(2){float:none !important;margin-top:30px !important;}
	.headerarea > div:nth-child(1) > div:nth-child(2) h3{text-align:center !important;}
	.headerarea > div:nth-child(1) > div:nth-child(2) h3:nth-child(2){display:none;}

	#amex-express-checkout{left:15px;top:95px;}
	#pnlCreditCard > div.cc_artimg {
		margin-left: 0 !important;
		margin-top: 12px !important;
	}

	#rdoPymntOption{margin-bottom:60px;}
	select {width:100%;margin-bottom:15px;}
	#UpdatePanel1{padding-right:18px;}
	#UpdatePanel1 > .content:nth-child(1) > div:nth-child(9){float:none !important;}
	#UpdatePanel1 > .content:nth-child(1) > div:nth-child(9) > div:nth-child(2){display:none;}

	#btnCancel, #btnSubmit{display:block;float:none;margin: 0 auto 36px auto;}
	.security_sealimg {background-position:50% 0;}
}
@media screen and (max-width: 328px) {
	#amex-express-checkout{top:160px;left:25px;}
	#rdoPymntOption{margin-bottom:60px;}
	#rdoPymntOption, #rdoPymntOption > tbody, #rdoPymntOption > tbody > tr, #rdoPymntOption > tbody >tr > td{display:block;}
	#rdoPymntOption > tbody >tr > td{padding: 8px;}
}

.PaymentError {
    background: #fdd5ce;
    border: 3px solid red;
    display: block;
    margin: 18px;
    padding: 18px;
}
@media screen and (max-width: 767px) {
	.PaymentError {
		margin: 18px 0 18px 18px;
	}
}
.PaymentError:empty {
    background: #fff;
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 391px) {
	.checkimg {
		width: auto;
		background-size: 100%;
	}
}
#pnlDDA .paymentalert[style*="display: inline"], #pnlCreditCard .paymentalert[style*="display: inline"], #pnlCreditCard .paymentalert[style*="visibility: visible"]{
	display: block !important;
	padding: 0 !important;
}
#pnlCreditCard > p:nth-child(8){position:relative;}
#pnlCreditCard #rqvExpYear.paymentalert[style*="visibility: visible"]{right:5px;position:absolute;bottom:0;}
.paymentalert[style*="hidden"]{display: none;}
#rdbActType{width:100% !important;}

/** Call # **/
#divCustSvcPhone{clear:both;}
#divCustSvcPhone  > div:nth-child(1), #divCustSvcPhone  > div:nth-child(3){height:auto !important;}
.CTAtext .CTAtext {
    left: 0;
    margin: 0 auto !important;
    max-width: 1200px;
	width:100%;/*needed to set width so left0 doesn't take over */
    position: absolute;
    right: 0;
    text-align: right;
    top: 17px;
	padding: 18px 20px;
	color: #fff;
}
.CTAtext {
    font-family: Futura Std Medium;
    font-size: 19px;
    max-width: 1200px;
	color:#fff;
}
@media screen and (max-width: 767px) {
	.CTAtext .CTAtext {
		text-align: center;
		padding: 50px 20px 18px 20px;
		color:#1f77b0;
	}
}

