/* placing any styles/comments here prevents default stream.css from loading w conflicting styles */
/* place any custom CSS for this SPECIFIC journey below: */
.customArticleCOB{
    padding:12px
}
.textCopy ol {
    list-style-type: decimal;
    margin-left: 1em;
}
.verticalSpace {
    height: 0;
}
.beachHouse .mastheadImage {
    position: absolute;
    height: 100%;
}
.beachHouse .row {
    margin-bottom: 20px;
}
.mastheadImage {
    position: relative;
    height: 369px;
}
.row {
    margin-bottom: 0;
}
.col-sm-12 {
    padding-bottom: 0;
}
.substituteFirstSectionCopy {
    padding: 0 2em;
    display: inline-block;
}

/* placing any styles/comments here prevents default stream.css from loading w conflicting styles */
@media (min-width: 820px) {
	#nav {
		display: none;
	}
}

@media (max-width: 820px) {
	.desktopNav {
		display: none;
	}
	
	a .logo {
		position: relative;
		right: 0px;
	}
	
	#nav span.white.block {
		position: absolute;
		left: 53%;
	}
	
}

@media (max-width: 600px) {
	#nav span.white.block {
		position: absolute;
		left: 56%;
	}
}

@media (max-width: 1000px) {
	#nav-container li.link {
		font-size: 1em;
	}
}

.desktopNav a {
	color: #fff;
	text-decoration: none;
}

.desktopNav a:hover {
	text-decoration: underline !important;
}

.desktopNav ul, .desktopNav li {
	display: inline-block;
}

#nav-container {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-bottom:0;
}

#nav-container li {
	flex-grow: 1;
	margin: auto 1em;
}

#nav-container li.link {
	text-align: center;
	font-size: 1.2em;
}

/*I ADDED THESE SELECTORS AND VALUES:*/

* {
	font-family: "Futura PT", helvetica, arial, sans-serif !important;
}

body#bodyID h1, body#bodyID h2, body#bodyID h3 {
	color: #2f508a !important;
	font-weight: bold;	
}

body#bodyID h1 {
	font-size: 1.7rem;
}

body#bodyID h2 {
	font-size: 1.5rem;
}

body#bodyID h3 {
	font-size: 1.3rem;
}

.growFontSize {
	font-size: 1.5rem;
}

#nav-container li.link a:hover {
	color: #fff;
	text-decoration: underline;
}

div#navDrop > ul {
	background: #035ba3;
}

#navDrop li#navClosePolicyOptions {
	background: none;
	padding: 0px;
}

ul hr {
	margin: 0px;
}

div#navWrap {
	background: #035ba3;
}	

li span.white {
	color: #fff;	
}

a .logo {
	width: 160px;
	margin: 0 auto;
	position: relative;
   right: 40px;
}

li.moveLinkRight {
   position: relative;
   left: 30px;
}

#nav span.white.block {
   position: absolute;
   color: white;
   top: 2px;
   left: 56%;
}

img.raiseImg {
    margin-bottom: 19px;
}

div.gutter img {
	width: inherit;
}

div.solid.grey {
	position: relative;
   top: 110px;
}

div.light.overlay {
	color: #2f508a;
   font-size: 1.1rem;
   text-align: left;
	padding: 30px;
}

div.solid.dark {
	position: relative;
	top: 110px;
}

div.solid.dark a {
	text-decoration: none;
}

div.solid.white hr {
	border-top: 1px solid #000;
}

.yellow.button {
	background: #ffda2d;
	color: #005884;
	font-weight: bold;
}

.yellow.button:hover {
	background: #e5c329;
	color: #005884;
	
}

a.skeleton.blue.button {
	border: 2px solid #2f508a;
   color: #2f508a;
}

div.container {
	padding: 24px;
}

div.col-sm-6 {
	padding: 24px;
}

/*ADDED THESE A SECOND TIME BECAUSE THIS SEEMS TO WORK IN OTHER EXAMPLES*/
@media (min-width: 820px) {
	#nav {
		display: none;
	}
}

@media (max-width: 820px) {
	.desktopNav {
		display: none;
	}
	
	a .logo {
		position: relative;
		right: 0px;
	}
	
	#nav span.white.block {
		position: absolute;
		left: 53%;
	}
	
}

@media (max-width: 600px) {
	#nav span.white.block {
		position: absolute;
		left: 56%;
	}
}

@media (max-width: 1000px) {
	#nav-container li.link {
		font-size: 1em;
	}
}

.site-map ul {
    margin-left: 1em;
}

/*MIGRATION ASSIST:*/ body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}h1,.h1,h2,.h2,h3,.h3{margin-top:20px;margin-bottom:10px}p{margin:0 0 10px}hr{margin-top:20px;margin-bottom:20px}

